<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        
        <!-- Titulo-->
        <title>Finance.io</title>
        
        <!-- Favicon-->
        <link th:rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}" />
        
        <!-- Bootstrap Icons-->
        <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css}" th:rel="stylesheet" />
        
        <!-- Google fonts-->
        <link th:href="@{https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700}" th:rel="stylesheet" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic}" th:rel="stylesheet" type="text/css" />
        
        <!-- SimpleLightbox plugin CSS-->
        <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css}" th:rel="stylesheet" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:rel="stylesheet" th:href="@{css/styles.css}"/>
    </head>
    <body id="page-top">
    
    
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Finance.io</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        

        
        <!-- Call to action
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
                <a class="btn btn-light btn-xl" href="#">Download Now!</a>
            </div>
        </section>
        -->
        
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Começe sua Carteira</h2>
                        <hr class="divider" />
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form id="login" method="POST" action="userpage/userGain/addgain">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="text"/>
                                <label for="text">Nome da Receita</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="value" type="number" placeholder="0.00"/>
                                <label for="number">Valor da Receita</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="descricao" type="text" placeholder="lorem lorem lorem"/>
                                <label for="descricao">Descrição da receita</label>
                            </div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl enable" id="submitButton" type="submit">Adicionar</button></div>
                        </form>
                    </div>
                </div>
             </div>
          </section>               
                
        
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - Finance.io</div></div>
        </footer>
        
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
